<section class="row">
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
		<data-toaster-container toaster-options="{ 'position-class': 'toast-bottom-right', 'close-button': true }"></data-toaster-container>
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<fieldset>

				<div class="form-group">
					<label for="address1">Address 1</label>
					<input type="text" id="address1" name="address1" class="form-control aacc-select-min-width" data-ng-model="user.address1" placeholder="Address Line 1">
				</div>
				<div class="form-group">
					<label for="address2">Address 2</label>
					<input type="text" id="address2" name="address2" class="form-control aacc-select-min-width" data-ng-model="user.address2" placeholder="Address Line 2">
				</div>
				<div class="form-group">
					<label for="address1">Address 3</label>
					<input type="text" id="address3" name="address3" class="form-control aacc-select-min-width" data-ng-model="user.address3" placeholder="Address Line 3">
				</div>
				<div class="form-group">
					<label for="country">Country</label>
					<data-ui-select data-ng-model="user.country" class="aacc-select-min-width" data-ng-disabled="disabled" data-ng-change="updateStateLookup(user.country)">
						<data-ui-select-match placeholder="Country">{{ $select.selected.name }}</data-ui-select-match>
						<data-ui-select-choices repeat="country.name as country in countries | filter: $select.search">
							<div data-ng-bind-html="country.name | highlight: $select.search"></div>
						</data-ui-select-choices>
					</data-ui-select>
				</div>
				<div class="form-group">
					<label for="state">City/State</label>
					<data-ui-select data-ng-model="user.state" class="aacc-select-min-width" data-ng-disabled="disabled">
						<data-ui-select-match placeholder="City / State / County / Province / Region">{{ $select.selected.name }}</data-ui-select-match>
						<data-ui-select-choices repeat="state.name as state in states | filter: $select.search">
							<div data-ng-bind-html="state.name | highlight: $select.search"></div>
						</data-ui-select-choices>
					</data-ui-select>
				</div>
				<div class="form-group">
					<label for="zipcode">ZIP Code</label>
					<input type="text" id="zipcode" name="zipcode" class="form-control aacc-select-min-width" data-ng-model="user.zipcode" placeholder="ZIP / Postal Code">
				</div>
				<div class="form-group">
					<label for="website">Website</label>
					<input type="text" id="website" name="website" class="form-control aacc-select-min-width" data-ng-model="user.website" placeholder="Website">
				</div>

				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Save Address</button>
				</div>
				<!-- <div data&#45;ng&#45;show="success" class="text&#45;center text&#45;success"> -->
				<!-- 	<strong>Address saved successfully</strong> -->
				<!-- </div> -->
				<!-- <div data&#45;ng&#45;show="error" class="text&#45;center text&#45;danger"> -->
				<!-- 	<strong data&#45;ng&#45;bind="error"></strong> -->
				<!-- </div> -->
			</fieldset>
		</form>
	</div>
</section>
